<% layout('layouts/boilerplate') %> 
<h1 class="my-3 offset-md-2"> Auditoria a Choferes Y/O Coordinadores </h1>

<div class="container">
    <form action ="/driver/audit?_method=PUT" method="POST" novalidate>
        <div class="form-floating col-6 pb-2">
            <select class="form-select form-select mb-3" aria-label=".form-select-lg example" id="floatingDriver" name="driver">
              <option value="Seleccione uno">Chofer:</option>
              <% for (chofer of choferes) {%> 
              <option value='<%= chofer._id %>'><%= chofer.name %></option>
              <% } %> 
            </select>
        </div>
            <div class="form-floating col-6 pb-2">
                <select class="form-select form-select mb-3" aria-label=".form-select-lg example" id="floatingBus" name="unit">
                    <option value="Seleccione uno">Unidad:</option>
                    <% for (bus of buses) {%>
                        <option value="<%= bus.unidad %>"><%= bus.unidad %></option>
                    <% } %>  
                </select>
            <div class="form-floating col-6 pb-2">
                <input type="date" class="form-control form-control-lg" name="date" id="date" placeholder="Fecha:" required>
                <label for="date" class="form-label">Fecha: </label>
            </div>
            <div class="title">
                <div class="row mb-3">
                    <span class="col-4 me-5">Características</span>
                    <span class="col-4 me-5">Sí / No /   N/A</span>
                </div>
            </div>
            <div class="form-check">
              <div class="row mb-3">
                <label class="form-check-label col-4 me-5" for="dressCode">Codigo de vestimenta(Prohibido utilizar sandalias,pijamas,short).</label>
                <input class="form-check-input col-4 me-5" type="radio" id="dressCode" name="dressCode" value="Sí">
                <input class="form-check-input col-4 me-5" type="radio" id="dressCode" name="dressCode" value="No">
                <input class="form-check-input col-4 me-5" type="radio" id="dressCode" name="dressCode" value="N/A">
              </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="parking">Unidad estacionada adecuadamente.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="parking" name="parking" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="parking" name="parking" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="parking" name="parking" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="noCommerce">Coordinadores y/o Choferes deberan  abstenerse de la venta ambulante.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="noCommerce" name="noCommerce" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="noCommerce" name="noCommerce" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="noCommerce" name="noCommerce" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="currentDriverLicense">Licencia de Manejo Vigente.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="currentDriverLicense" name="currentDriverLicense" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="currentDriverLicense" name="currentDriverLicense" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="currentDriverLicense" name="currentDriverLicense" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="unitId">La unidad está identificada con la ruta.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="unitId" name="unitId" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="unitId" name="unitId" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="unitId" name="unitId" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="formFtv012">Llenado de Registro F-TV012.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="formFtv012" name="formFtv012" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="formFtv012" name="formFtv012" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="formFtv012" name="formFtv012" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="formFtv006">Llenado de Registro F-TV006.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="formFtv006" name="formFtv006" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="formFtv006" name="formFtv006" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="formFtv006" name="formFtv006" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="safetyVest">Chaleco de Seguridad.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="safetyVest" name="safetyVest" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="safetyVest" name="safetyVest" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="safetyVest" name="safetyVest" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="credential">Gafete.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="credential" name="credential" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="credential" name="credential" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="credential" name="credential" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="faceMask">Cubrebocas.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="faceMask" name="faceMask" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="faceMask" name="faceMask" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="faceMask" name="faceMask" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="gel">Gel.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="gel" name="gel" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="gel" name="gel" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="gel" name="gel" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="extinguisher">Extintor.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="extinguisher" name="extinguisher" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="extinguisher" name="extinguisher" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="extinguisher" name="extinguisher" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="firstAidKit">Botiquin.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="firstAidKit" name="firstAidKit" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="firstAidKit" name="firstAidKit" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="firstAidKit" name="firstAidKit" value="N/A">
                </div>
            </div>
            <div class="form-check">
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="gps">GPS.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="gps" name="gps" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="gps" name="gps" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="gps" name="gps" value="N/A">
                </div>
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="hydraulicJack">Gato Hidráulico.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="hydraulicJack" name="hydraulicJack" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="hydraulicJack" name="hydraulicJack" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="hydraulicJack" name="hydraulicJack" value="N/A">
                </div>
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="wrench">Cruceta (Llave de Tuercas).</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="wrench" name="wrench" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="wrench" name="wrench" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="wrench" name="wrench" value="N/A">
                </div>
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="spareTire">Llanta de Refacción.</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="spareTire" name="spareTire" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="spareTire" name="spareTire" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="spareTire" name="spareTire" value="N/A">
                </div>
                <div class="row mb-3">
                  <label class="form-check-label col-4 me-5" for="safetyTriangle">Triangulos de Seguridad (Reflejantes).</label>
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="safetyTriangle" name="safetyTriangle" value="Sí">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="safetyTriangle" name="safetyTriangle" value="No">
                  <input class="form-check-input col-4 me-5" type="radio" role="switch" id="safetyTriangle" name="safetyTriangle" value="N/A">
                </div>
            </div>
            <div class="row">
                <div class="form-floating col pb-2">
                    <textarea type="text" class="form-control form-control-lg" name="comments" id="floatingComments" placeholder="Comentarios:"></textarea>
                    <label for="floatingComments" class="form-label">Comentarios: </label>
                </div>
            </div>
            <div class="form-floating col-6 pb-2">
                <input type="text" class="form-control form-control-lg" name="auditedBy" id="auditedBy" placeholder="Inspeccionado por:" required>
                <label for="auditedBy" class="form-label">Auditado por: </label>
            </div>
        <button class="btn btn-success m-3">Mandar</button>
      </form>
</div>