<% layout('layouts/boilerplate') %> 

<div class="container my-3">
    <div class="row">
        <div class="col-3 my-3 ">
            <% if (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) {%> 
                <a class="btn btn-primary smallText" href="/driver/new">Registrar chofer</a>
            <% } %> 
        </div>
        <div class="col-3 my-3 ">
            <a class="btn btn-primary smallText" href="/driver/show"> Buscar Choferes</a>
        </div>
        <div class="col-3 my-3 ">
            <a class="btn btn-primary smallText" href="/driver/list">Expiración de Licencias</a>
        </div>
        <div class="col-3 my-3 ">
            <% if (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) {%> 
                <a class="btn btn-primary smallText" href="/driver/test">Registrar Prueba de Manejo</a>
            <% } %> 
        </div> 

    </div>
    <div class="row">
        <div class="col-3 my-3 ">
            <a class="btn btn-primary smallText" href="/driver/test/show/">Consultar Pruebas de Manejo</a>
        </div>
        <div class="col-3 my-3 ">
            <% if (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) {%> 
                <a class="btn btn-primary smallText" href="/driver/audit">Registrar Auditoria a Choferes Y/O Coordinadores</a>
            <% } %>
        </div>
        <div class="col-3 my-3 ">
            <a class="btn btn-primary smallText" href="/driverAttendance">Asistencia de Choferes</a>
        </div>
        <div class="col-3 my-3 ">
            <% if (currentUser.isAdmin || currentUser.puesto === 'Supervisor de Coordinadores') {%> 
                <a class="btn btn-primary smallText" href="/buses/audit">Nuevo Checklist de Unidad</a>    
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 my-3 ">
            <a class="btn btn-primary smallText" href="/buses/audit/show">Consulta Checklists de Unidad</a>
        </div>
        <div class="col-3 my-3 ">
            <a class="btn btn-primary smallText" href="/alcoholimetro">Pruebas de Alcoholimetro</a>
        </div>
        <div class="col-3 my-3">
            <a class="btn btn-primary" href="/logros">Logros Por Empresa</a>
        </div>
    </div>
</div>