<% layout('layouts/boilerplate') %> 

<div class="container my-3">
    <div class="row">
        <% if (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) {%> 
        <a class="btn btn-primary col-3 mx-auto" href="/driver/new">Registrar chofer</a>
        <% } %> 
        <a class="btn btn-primary col-3 mx-auto" href="/driver/show"> Buscar choferes</a>
    </div>
</div>