<% layout('layouts/boilerplate') %> 
<h1 class="m-3">Busqueda de Choferes</h1>

<div class="container">
    <div class="row">
      <input type="text" class="m-3" name="searchBar" id="searchBar">
      <section>
        <div class="row" id="searchResults"></div>
      </section>
    </div>
</div>

<script src="../../JavaScript/driverSearchParams.js"></script>
<script src="../../JavaScript/liveSearch.js"></script>