<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo" src="../../../../assets/e791801d-4443-4163-b208-6486128982fd.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if (currentUser) {%>
            <% if(currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) {%>
              <a class="nav-link" href="/driver">Choferes</a>
            <% } %>
            <% if(currentUser.puesto === 'Recepcionista' || currentUser.isAdmin) { %> 
              <a class="nav-link" href="/hr/attendance">Asistencia</a>
            <% } %>
            <% if(currentUser.puesto === 'Ejecutivo de Almacen y Diesel' || currentUser.isAdmin) {%>
              <a class="nav-link" href="/inv/show">Inventario</a>
            <% } %>
            <% if(currentUser.puesto === 'Ejecutivo de Compras' || currentUser.isAdmin) {%>
              <a href="/compras" class="nav-link"> Compras </a>
            <% } %> 
            <% if(currentUser.puesto === 'Auxiliar de Operaciones' || currentUser.isAdmin) {%>
              <a href="/routes" class="nav-link"> Rutas Fijas </a>
            <% } %>
              <a class="btn btn-dark" href="/tickets">Apoyo Técnico</a>
          <% } %>    
        </div>
        <div class="ms-auto navbar-nav">
          <% if(!currentUser) {%> 
          <a href="/login" class="btn btn-success">Iniciar Sesión</a>
          <% } else { %> 
            <span class="user mx-3"><a href="/users/<%=currentUser._id%>" class="nav-link"> <%=currentUser.username%> está en sesión</a></span>
          <a href="/logout" class="btn btn-danger">Terminar Sesión</a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>