<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-3">Soporte Técnico</h1>
<div class="container my-3 offset-md-1">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary ticket-btn" href="/tickets/new">Generar un Ticket Nuevo</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary ticket-btn" href="/tickets/show">Consultar mis Tickets</a>
        </div>
    </div>
</div>