<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-3">Genera un Ticket Nuevo</h1>

<div class="container">
    <form action="/tickets/new" method="post">
        <div class="form-floating col-12 pb-2">
            <input type="text" class="form-control form-control-lg" name="issueTitle" id="floatingIssueTitle" placeholder="¿Qué sucedió?" required>
            <label for="floatingIssueTitle" class="form-label">¿Qué sucedió? </label>
        </div>
        <div class="form-floating col-12 pb-2">
            <textarea type="text" class="form-control form-control-lg" name="userComments" id="floatingComments" placeholder="Describe el problema con todos los detalles posibles:"></textarea>
            <label for="floatingComments" class="form-label">Describe el problema con todos los detalles posibles: </label>
        </div>
        <div class="form-floating col-12 pb-2">
            <select class="form-select form-select mb-3" aria-label=".form-select" id="severity" name="severity">
                <option value="bajo">Bajo</option>
                <option value="medio">Medio</option>
                <option value="alto">Alto</option>
            </select>
            <label for="severity" class="form-label">Asigne el grado de urgencia: </label>
        </div>
        <button class="btn btn-success">Generar</button>
    </form>
</div>