<% layout('layouts/boilerplate') %>
<h1 class="offset-md-4">Listado de Tickets</h1>
<div class="container my-5">
    <% for (ticket of tickets) {%>
        <div class="row m-3">
            <div class="col-12">
                <a class="btn <%= ticket.severity === 'bajo' ? 'btn-info' : ticket.severity === 'medio' ? 'btn-warning' : 'btn-danger' %>" 
                    href="/tickets/show/<%=ticket._id%>">
                    <%= ticket.serial %> 
                </a>
            </div>
        </div>
    <% } %>  
</div>
