<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../../assets/272707556_231916139148938_3564323865832014711_n-removebg-small.ico" type="image/x-icon">    
    <link rel="shortcut icon" href="../../../../assets/272707556_231916139148938_3564323865832014711_n-removebg-small.ico" type="image/x-icon">  
    <link href="../../../../styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../styles/node.css" rel="stylesheet" type="text/css">
    <link href="../../../../styles/userNameBtn.css" rel="stylesheet" type="text/css">
    <link href="../../../../styles/hr.css" rel="stylesheet" type="text/css"> 
    <link href="../../../../styles/rutas.css" rel="stylesheet" type="text/css"> 
    <link href="../../../../styles/ticketButtons.css" rel="stylesheet" type="text/css"> 
    <title>Transportes Villarreal</title>
</head>
<body class="body d-flex flex-column my-5 vh-100">
    <%- include('../partials/navbar') %>
    <main class="my-5">
        <%- include('../partials/flash') %> 
        <%- body %>  
    </main>
    <%- include('../partials/footer') %> 
    <script src="../../../../JavaScript/bootstrap.min.js"></script>
</body>
</html>