<% layout('layouts/boilerplate') %> 
<h1 class="my-3 offset-md-8">Registro de Baja</h1>

<div class="container">
    <div class="row">
        <div class="col-3 title">
            Nombre
        </div>
    </div>
</div>