<% layout('layouts/boilerplate') %> 
<h1 class="my-3 offset-md-2"> Registro de la Asistencia de los Choferes</h1>
<% if (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) {%> 
<div class="container my-3">
    <div class="row">
        <div class="col-6 m-3">
            <form action="/driverAttendance" method="POST">
                <select class="form-select form-select mb-3" aria-label=".form-select" id="kind" name="kind">
                    <option value="Horario Normal">Horario Normal</option>
                    <option value="Tiempo Extra">Tiempo Extra</option>
                </select>
                <button class="btn btn-success">Generar Listado Nuevo</button>
            </form>
        </div>
    </div>
</div>
<% } %>  
<div class="container my-3">
    <div class="row">
        <% if(lists) {%> 
            <% for(list of lists) {%>
                <div class="col-3"> <a class="btn btn-dark" href="/driverAttendance/<%= list._id %>"><%= list.date.toLocaleDateString() %> <%= list.kind %></a> </div>
            <% } %> 
        <% } %>  
    </div>
</div>