<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-3">Acciones Disciplinarias</h1>

<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="/disc/new">Nuevo Registro</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary" href="/disc/show">Consulta</a>
        </div>
    </div>
</div>