<% layout('layouts/boilerplate') %> 
<div class="container card my-3">
    <div class="row">
      <% if (currentUser.puesto === 'Ejecutivo de Compras' || currentUser.isAdmin) {%>
        <a href="compras/orden" class="btn btn-primary my-3">Orden de Compra</a>
    <% } %> 
        <a href="compras/show" class="btn btn-primary mb-3">Listado</a>
    </div>
</div>