<% layout('layouts/boilerplate') %> 
<div class="container my-3">
    <div class="row m-3">
        <div class="col-6">
            <% if (currentUser.puesto === 'Ejecutivo de Compras' || currentUser.isAdmin) {%>
                <a href="compras/orden" class="btn btn-primary">Orden de Compra</a>
            <% } %> 
        </div>
        <div class="col-6">
            <a href="compras/show" class="btn btn-primary">Listado</a>
        </div>
    </div>
</div>