<% layout('layouts/boilerplate') %> 
<div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Excepturi voluptatum quaerat laboriosam, sequi harum maxime? 
    Architecto modi blanditiis distinctio soluta sunt assumenda reiciendis ratione 
    ducimus error est consectetur, facere corrupti!
</div>