<% layout('layouts/boilerplate') %> 
<h1 class="m-3">Ordenes de compra</h1>

<div class="container">
    <% for (purchase of compra) {%>
        <div class="row">
            <div class="col-3"><a href="/compras/show/<%=purchase._id%>"><%= purchase._id %></a> por <a href="/users/<%=purchase.author._id%>"><%= purchase.author.username %></a> </div>
        </div> 
    <% } %>  
</div>