<% layout('layouts/boilerplate') %> 
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Aspernatur cupiditate deleniti corrupti quidem reprehenderit 
    impedit ad aut, iste ea repellendus dolores modi obcaecati eum recusandae nisi 
    suscipit itaque! Consequuntur, dicta.
</p>

<div class="container card">
    <div class="row my-3">
        <div class="col-6">
            <button class="btn btn-primary">Auditorias</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary">Sistemas de Gestión</button>
        </div>
    </div>
</div>