<% layout('layouts/boilerplate') %> 

<div class="container card my-3">
    <div class="row my-3">
        <div class="col-6">
            <a class="btn btn-primary" href="/inv/show">Inventario</a>
        </div>
    </div>
</div>