<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-3">Vales</h1>
<div class="row m-3">
    <% for (ticket of refactions) {%>
        <a class="btn btn-primary col-4 m-3" href="/mtto/repairs/show/<%=ticket._id%>"><%= ticket._id %></a>
    <% } %>  
</div>
