<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-3 my-3">Logros Por Empresa</h1>

<div class="container my-5">
    <h4 class="offset-md-5 my-2">Consultas</h4>
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/show/oes">Registros OES</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/show/bpi">Registros BPI</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/show/medline">Registros Medline</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/show/aistermi">Registros AISTERMI</a>
        </div>
    </div>
</div>

<div class="container my-5">
    <h4 class="offset-md-5 my-2">Crear Registros</h4>
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/new/oes">Rutas OES</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/new/bpi">Rutas BPI</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/new/medline">Rutas Medline</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="/logros/new/aistermi">Rutas AISTERMI</a>
        </div>
    </div>
</div>