<% layout('layouts/boilerplate') %> 
<div class="container">
    <div class="d-flex">
      <img class="logo my-3" src="../assets/272707556_231916139148938_3564323865832014711_n.jpg" alt="">
    </div>
    <% if (!currentUser) { %>
      
    <% } else {%> 
      <div class="container">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento y Almacén</A></h5>
                        <p class="card-text">
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                              opciones
                            </button>
                          </p>
                          <div class="collapse" id="collapse">
                            <div class="card card-body">
                                <a class="btn btn-primary" href="/mtto/"> Mantenimiento y Almacén </a>
                            </div>
                          </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento Correctivo y Preventivo</A></h5>
                        <p class="card-text">
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                              opciones
                            </button>
                          </p>
                          <div class="collapse" id="collapse1">
                            <div class="card card-body">
                                <a class="btn btn-primary" href="/"> Test </a>
                            </div>
                          </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Administración de Personal</A></h5>
                        <p class="card-text">
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
                              opciones
                            </button>
                          </p>
                          <div class="collapse my-3" id="collapse2">
                            <div class="card card-body">
                                <a href="/hr" class="btn btn-primary"> Entrar </a>
                            </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Calidad</A></h5>
                            <p class="card-text">
                              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseqa" aria-expanded="false" aria-controls="collapseExample">
                                  opciones
                                </button>
                              </p>
                              <div class="collapse my-3" id="collapseqa">
                                <div class="card card-body">
                                    <a href="/qa" class="btn btn-primary"> Entrar </a>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
            </div>
            <div class="card mb-3">
              <div class="row">
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Compras</A></h5>
                          <p class="card-text">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCompras" aria-expanded="false" aria-controls="collapseExample">
                                opciones
                              </button>
                            </p>
                            <div class="collapse my-3" id="collapseCompras">
                              <div class="card card-body">
                                  <a href="/compras" class="btn btn-primary"> Entrar </a>
                              </div>
                              </div>
                            </div>
                      </div>
                  </div>
          </div>
        </div>
    <% } %>  
    
</div>
