<% layout('layouts/boilerplate') %>
<h1 class="offset-md-4 my-3">Registro de Rutas Diarias</h1>

<div class="container">
    <div class="row my-5">
        <% if(currentUser.puesto === 'Auxiliar de Operaciones' || currentUser.isAdmin) {%>
            <div class="col-6">
                <a class="btn btn-primary fontIncrease" href="/routes/new">Registro Nuevo</a>
            </div>
        <% } %> 
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/routes/show">Consultar Registros</a>
        </div>
    </div>
</div>