<% layout('layouts/boilerplate') %> 
<h1 class="my-3 offset-md-2">Busqueda de Registros de Rutas Fijas</h1>
<h5 class="my-3 offset-md-2">Escriba el nombre de la compañía que requiera consultar</h5>

<div class="container">
    <div class="row">
      <input type="text" class="m-3" name="searchBar" id="searchBar">
      <section>
        <div class="row" id="searchResults"></div>
      </section>
    </div>
  </div>

  <script src="../../JavaScript/routesSearchParams.js"></script>
  <script src="../../JavaScript/liveSearch.js"></script>