<% layout('layouts/boilerplate')%>
<% const img = gafete.photo.url %> 
<div class="container mt-3" id="data">
    <div class="row">
        <div class="col-6">
            <div class="id-card-holder">
                <div class="id-card">
                    <div class="header">
                        <h4>Transportes Villarreal</h4>
                    </div>
                        <div class="photo">
                            <img id="img" src="<%= img %>">
                        </div>
                        <h2 id="gafete-name"><%= gafete.chofer.name %> </h2>
                        <h3 class="gafete-h3">Puesto: Chofer</h3>
                        <hr>
                        <img src="../../../assets/e791801d-4443-4163-b208-6486128982fd.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="id-card-holder">
                    <div class="id-card">
                        <div class="header">
                            <h4>Transportes Villarreal</h4>
                        </div>
                            <div class="photo mb-5">
                                <p>AGRADECEMOS A LAS AUTORIDADES CIVILES Y MILITARES LAS FACILIDADES QUE SIRVAN PRESTARSE AL PORTADOR DE LA PRESENTE EN EL DESEMPEÑO DE SUS FUNCIONES</p>
                            </div>
                            <div>
                                <hr>
                                <h3 class="mb-5 gafete-h3">Firma del Empleado</h3>
                            </div>
                            <div class="mt-5">
                                <br>
                                <hr>
                                <h3 class="gafete-h3">Luz Auora Sanchez</h3>
                                <h3 class="gafete-h3">DPTO Recursos Humanos</h3>
                            </div>
                            <br>
                            <h3 class="gafete-h3">Valido hasta Diciembre 2022</h3>
                        </div>
                    </div>
            </div>
    </div>

        </div>
    </div>
</div>

<div class="container m-3">
    <button class="btn btn-success" id="downloadBtn">Descargar</button>
</div>

<script src="../../JavaScript/jspdf.min.js"></script>
<script src="../../JavaScript/html2pdf.bundle.min.js"></script>
<script src="../../JavaScript/gafetePrint.js"></script>