<% layout('layouts/boilerplate')%>
<h1 class="offset-md-3 mt-5">Creación y Consulta de Gafetes para Choferes</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/gafete/new">Nuevo</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/gafete/show">Consulta</a>
        </div>
    </div>
</div>