<% layout('layouts/boilerplate') %>
<h1 class="offset-md-4 my-3">Asistencia Diaria</h1>

<div class="container">
    <form action="/hr/attendance" method="post">
    <div class="row attendance-head">
        <div class="col-3 title field">Nombre:</div>
        <div class="col-3 title field"><label class="form-check-label col-4 me-5" for="isPresent">Se presenta a trabajar:</label></div>
        <div class="col-3 title field"><label class="form-check-label col-4 me-5" for="isOnTime">Retardo:</label></div>
        <div class="col-3 title ">Observaciones:</div>
    </div>
        <% for (user of users) {%>
        <div class="row attendance-list">
            <div class="col-3 field">
                <%= user.firstName %> <%= user.lastName %>  
            </div>
            <div class="col-3 field pt-1">
                <select class="form-select form-select mb-3" aria-label=".form-select" id="isPresent" name="isPresent">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="col-3 field pt-1">
                <select class="form-select form-select mb-3" aria-label=".form-select" id="isOnTime" name="isOnTime">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-floating col-3 pb-2">
                <textarea type="text" class="form-control form-control-lg" name="comments" id="floatingComments" placeholder="Observaciones:"></textarea>
                <label for="floatingComments" class="form-label">Observaciones: </label>
            </div>
        </div>
        <% } %>  
        <button class="btn btn-success my-5">Guardar</button>
    </form>
</div>