<% layout('layouts/boilerplate') %>
<h1 class="my-3 offset-md-2"> Registro de Asistencia Administrativos</h1>
<% if (currentUser.puesto === 'Recepcionista' || currentUser.isAdmin) {%> 
<div class="container my-3">
    <div class="row">
        <div class="col-6 m-3">
            <form action="/hr/attendance" method="POST">
                <button class="btn btn-success">Generar Listado Nuevo</button>
            </form>
        </div>
    </div>
</div>
<% } %>  
<div class="container my-3">
    <div class="row">
        <% if(lists) {%> 
            <% for(list of lists) {%>
                <div class="col-3"> <a class="btn btn-dark" href="/hr/attendance/<%= list._id %>"><%= list.date.toLocaleDateString() %> <%= list.kind %></a> </div>
            <% } %> 
        <% } %>  
    </div>
</div>