<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 mt-3">Registro de Rutas Diarias por Chofer</h1>

<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/driving/new">Nuevo Registro</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/driving/show">Consultar Registros</a>
        </div>
    </div>
</div>