<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-3"> Ingrese el nombre de la Unidad a consultar  </h1>

<div class="container">
    <div class="row"> 
      <input type="text" class="m-3" name="searchBar" id="searchBar">
      <section>
        <div class="row" id="searchResults"></div>
      </section>
    </div>
</div>

<script src="../../JavaScript/liveSearch.js"></script>
<script hidden>
  const route = 'getAudit'
  const origin = '/buses/audit/show' 
</script>