<% layout('layouts/boilerplate') %> 

<div class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a class="btn btn-primary m-3 fontIncrease" href="/buses/new">Agregar Camión</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary m-3 fontIncrease" href="/buses/show">Lista de Camiones</a>
        </div>
    </div>
</div>