<% layout('layouts/boilerplate') %> 
<div class="container my-3">
    <h2>Proporcione su dirección de email:</h2>
    <form action="/forgot" method="post">
        <div class="form-floating col-6 pb-2">
            <input type="email" class="form-control form-control-lg" name="email" id="floatingInput" placeholder="Email: " required>
            <label for="floatingInput" class="form-label">Email: </label>
          </div>
          <button class="btn btn-info">Mandar</button>
    </form>
</div>