<% layout('layouts/boilerplate') %> 
<h1 class="my-3 offset-md-2">Reclutamiento</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/reclutamiento/new"> Crear Nuevo Registro </a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary fontIncrease" href="/reclutamiento/show"> Consultar Registros </a>
        </div>
    </div>
</div>