<% layout('layouts/boilerplate')%>

<h1 class="my-3 offset-md-2">Recorrido Diario</h1>

<div class="container">
    <form action ="/trips/new" method="POST" novalidate>
        <div class="form-floating col-6 pb-2">
          <input type="date" class="form-control form-control-lg" name="date" id="floatingDate" placeholder="Fecha:" required>
          <label for="floatingDate" class="form-label">Fecha: </label>
        </div>
        <div class="form-floating col-6 pb-2">
          <input type="text" class="form-control form-control-lg" name="hour" id="floatingHour" placeholder="Hora de Salida:" required>
          <label for="floatingHour" class="form-label">Hora de Salida: </label>
        </div>
        <div class="form-floating col-6 pb-2">
            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="floatingName" name="name">
                <% for (chofer of choferes) {%>
                    <option value="<%= chofer.name %>"><%= chofer.name %></option>
                <% } %>
            </select>
            <label for="floatingName" class="form-label">Nombre: </label>
        </div>
        <div class="form-floating col-6 pb-2">
            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="floatingUnit" name="unit">
                <% for(bus of buses) {%>
                    <option value="<%= bus.unidad %>"><%= bus.unidad %></option>
                <% } %>
            </select>
            <label for="floatingUnit" class="form-label">Unidad: </label>
        </div>
        <div class="form-floating col-6 pb-2">
            <input type="text" class="form-control form-control-lg" name="where" id="floatingWhere" placeholder="Alta:" required>
            <label for="floatingWhere" class="form-label">Lugar a Donde se Dirige: </label>
        </div>   
        <div class="form-floating col-6 pb-2">
            <input type="date" class="form-control form-control-lg" name="fuelLoadDate" id="floatingFuelLoadDate" placeholder="Fecha en que Carga Combustible:" required>
            <label for="floatingFuelLoadDate" class="form-label">Fecha en que Carga Combustible: </label>
        </div> 
        <div class="form-floating col-6 pb-2">
            <input type="text" class="form-control form-control-lg" name="fuelLoadQty" id="floatingFuelLoadQty" placeholder="Cantidad de Combustible Cargado:" required>
            <label for="floatingFuelLoadQty" class="form-label">Cantidad de Combustible Cargado: </label>
        </div> 
        <div class="form-floating col-6 pb-2">
            <input type="text" class="form-control form-control-lg" name="odometer" id="floatingOdometer" placeholder="Odometro:" required>
            <label for="floatingOdometer" class="form-label">Odometro: </label>
        </div> 
        <button class="btn btn-success m-3">Mandar</button>
    </form>
</div>