<% layout('layouts/boilerplate') %> 
<div class="container mt-3">
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <!-- <img class="img-fluid" src=" " alt=""> -->
                <span>aqui va ir la foto</span>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Lista de Usuarios</A></h5>
                    <p class="card-text">
                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapseExample">
                          opciones
                        </button>
                      </p>
                      <div class="collapse" id="collapse">
                        <div class="card card-body">
                            <p>aregar todos usuarios, o agregar boton para ir a pag con lista entera?</p>
                            <button><a href="/hr/show">lista</a></button>
                        </div>
                      </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>