<% layout('layouts/boilerplate') %> 
<h1 class="mx-3 p-5">Inventario</h1>
  <div class="container">
    <div class="row">
      <input type="text" class="m-3" name="searchBar" id="searchBar" onkeyup="search(this)">
      <section id="searchResults"></section>
    </div>
  </div>

<div class="container">
  <a class="btn btn-primary my-3 mx-3" href="/inv/newItem">Nuevo</a>
  <button class="btn btn-info my-3" id="downloadBtn">Descarga PDF</button>
</div>
<span hidden id="currentUser"><%= currentUser.firstName %> <%= currentUser.lastName %></span>
<span hidden id="currentDate"><%= new Date().toLocaleDateString() %></span>
<script src="../../JavaScript/jspdf.min.js"></script>
<script src="../../JavaScript/html2canvas.min.js"></script>
<script src="../../JavaScript/printInv.js"></script>
<!-- <script src="../../JavaScript/liveSearch.js"></script> -->
<script>
  function search (e) {
    const searchResults = document.getElementById('searchResults')
    let match = e.value.match(/^[a-zA-Z ]*/);
    let matchTwo = e.value.match(/\s*/);
    if (matchTwo[0] === e.value) {
      searchResults.innerHTML = ''
      return
    }
    if (match[0] === e.value){
      fetch('getInv', {
        method: 'POST',
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({payload: e.value})
    }).then(res => res.json()).then(data => {
      let payload = data.payload
      searchResults.innerHTML = ''
      if(payload.length < 1) {
        searchResults.innerHTML = '<p>No hubo resultados</p>'
        return
      }
      
      payload.forEach((item, index) => {
          searchResults.innerHTML = `<div><a class="btn btn-dark" href="/inv/show/${item._id}"> ${item.nombre}</a> </div>`
      })
    })
    }
    
  }
</script>

