<% layout('layouts/boilerplate') %> 
<h1 class="mx-3 p-5 data">Inventario</h1>
  <div class="container">
    <div class="row"> 
      <input type="text" class="m-3" name="searchBar" id="searchBar">
      <section class="dataTwo">
        <div class="row" id="searchResults"></div>
      </section>
    </div>
  </div>

<script src="../../JavaScript/invSearchParams.js"></script>
<script src="../../JavaScript/liveSearch.js"></script>


