<% layout('layouts/boilerplate') %> 
<h1>Registro</h1>

<div class="mb-3 container">
    <form action ="/inv/newItem" method="POST" novalidate>
      <div class="form-floating col-6 pb-2">
        <input type="text" class="form-control form-control-lg" name="inv[nombre]" id="floatingNombre" placeholder="Nombre:" required>
        <label for="floatingNombre" class="form-label">Nombre: </label>
      </div>
      <div class="form-floating col-6 pb-2">
        <input type="number" class="form-control form-control-lg" name="inv[cantidad]" id="floatingNum" placeholder="Cantidad: " required>
        <label for="floatingNum" class="form-label">Cantidad: </label>
      </div>
      <button class="btn btn-success m-3">Mandar</button>
    </form>
  </div>
  <a class="btn btn-info" href="/inv/show">Regresar</a>
  <img src="../../assets/purepng.com-screwscrewfastenermade-of-metalspirewrigglesharp-pointed-metal-pin-1701527912067snj79.png">