<% layout('layouts/boilerplate') %> 

<h1 class="my-3 p-5">Vale de Refacciones</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Magni fugiat accusamus voluptatum quos nihil? 
    Dicta perspiciatis quis, quaerat sapiente aut perferendis nihil id provident 
    doloremque atque in reprehenderit aliquam nemo.
</p>